@import "../../variables";

.card-block {
    background: url("../../images/alex.png")-250px 100% / cover no-repeat,
        url("../../images/wong.png") 950px 110px no-repeat, url("../../images/alex-wong.png") 100% / cover no-repeat;
    height: 1200px;
    .card-block-text {
        margin-left: 210px;
        padding-top: 250px;
        display: flex;
        flex-direction: column;
        gap: 100px;
        color: $baseTextColor;
        max-width: 680px;
        h2 {
            @extend%h2;
        }
        p {
            font-size: $baseFontSize;
            font-weight: 500px;
            padding-right: 60px;
        }
        .arrow {
            background: url("../../images/arrow.png") 440px 11px no-repeat;
            margin-top: 50px;
            font-weight: 600;
        }
    }
}

@media (max-width: 1799px) {
    .card-block {
        background: url("../../images/alex.png")-250px 100% / cover no-repeat,
            url("../../images/wong.png") 800px 180px no-repeat, 
            url("../../images/alex-wong.png") 100% / cover no-repeat;
        .card-block-text {
            margin-left: 110px;
            padding-top: 100px;
        }
    }
}
@media (max-width: 1599px) {
    .card-block {
        height: 800px;
        background: 
        url("../../images/alex.png")-250px 60% / cover no-repeat,
            url("../../images/wong.png") 700px 110px/350px no-repeat, 
            url("../../images/alex-wong.png") 60% / cover no-repeat;
        .card-block-text {
            margin-left: 90px;
            padding-top: 100px;
        max-width: 500px;

            h2 {
                font-size: 35px;
            }
            p {
                font-size: 18px;
            }
            .arrow {
                background: url("../../images/arrow.png") 380px 11px no-repeat;
                margin-top: 50px;
                font-weight: 600;
            }
        }
    }
}
@media (max-width: 1359px) {
    .card-block {
        background: 
        url("../../images/alex.png")-250px 60% / cover no-repeat,
        url("../../images/wong.png") 600px 120px/300px no-repeat, 
        url("../../images/alex-wong.png") 60% / cover no-repeat;
        .card-block-text {
            margin-left: 110px;
            padding-top: 100px;
        }
    }
}
@media (max-width: 1199px) {
    .card-block {
        background: 
        url("../../images/alex.png")-250px 60% / cover no-repeat,
        url("../../images/wong.png") 500px 190px/250px no-repeat, 
        url("../../images/alex-wong.png") 60% / cover no-repeat;
        .card-block-text {
            margin-left: 60px;
            padding-top: 80px;
        }
    }
}