@import "../../variables";

.banner {
  background-color: $baseBgColor;
  .banner-block {
    color: $baseTextColor;
    margin-left: 210px;
    padding-top: 120px;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 84px;
      font-weight: bold;
      line-height: 1.2;
      margin-top: 140px;
      margin-bottom: 95px;
    }
    .block-text {
      font-size: $baseFontSize;
      font-weight: $baseFontWeight;
      margin-bottom: 100px;
    }
    .banner-button {
      display: inline-block;
      position: relative;
      background-color: #24262b;
      text-transform: uppercase;
      font-size: 19px;
      font-weight: 700;
      color: $baseTextColor;
      padding: 18px 80px 18px 50px;
      border: none;
      margin-right: 30px;
      border-radius: 9px;
      letter-spacing: 2px;
      &::after {
        content: url(../../images/Vector.png);
        position: absolute;
        bottom: 16px;
        right: 52px;
      }
    }
    .green {
      background-color: #00ad6f;
      &::after {
        content: url(../../images/Vector2.png);
        position: absolute;
        bottom: 16px;
        right: 52px;
      }
    }
  }
  .banner-block-img  {
    position: relative;
    .banner-img{
    position: relative;
    z-index: 2;
    }
    .banner-img-ellipse {
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
  }
}
